.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app-inner {
  width: 100%;
  max-width: 940px;
  display: flex;
}

.col {
  width: 50%;
}

.textarea-wrapper {
  width: 100%;
  min-height: 250px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .4);
  position: relative;
}

.col:first-child .textarea-wrapper {
  border-right: 0;
}

.textarea-wrapper textarea {
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  resize: none;
  font-size: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, .4);
  border: none;
  padding: 15px;
  box-sizing: border-box;
}

.textarea-wrapper.text-added textarea,
.textarea-wrapper textarea:focus,
.textarea-wrapper textarea:active {
  color: rgba(0, 0, 0, 1);
  outline: none;
  box-shadow: none;
}

.textarea-wrapper span {
  color: rgba(0, 0, 0, .4);
  font-size: 24px;
  font-weight: 500;
}

.textarea-wrapper.text-added span {
  color: rgba(0, 0, 0, 1);
}